In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('FDI data.csv')

In [3]:
data

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,METALLURGICAL INDUSTRIES,22.69,14.14,36.61,8.11,200.38,149.13,169.94,1175.75,959.94,419.88,1098.14,1786.14,1466.23,567.63,359.34,456.31,1440.18
1,MINING,1.32,6.52,10.06,23.48,9.92,7.40,6.62,444.36,34.16,174.40,79.51,142.65,57.89,12.73,684.39,520.67,55.75
2,POWER,89.42,757.44,59.11,27.09,43.37,72.69,157.15,988.68,907.66,1271.79,1271.77,1652.38,535.68,1066.08,707.04,868.80,1112.98
3,NON-CONVENTIONAL ENERGY,0.00,0.00,1.70,4.14,1.27,1.35,2.44,58.82,125.88,622.52,214.40,452.17,1106.52,414.25,615.95,776.51,783.57
4,COAL PRODUCTION,0.00,0.00,0.00,0.04,0.00,9.14,1.30,14.08,0.22,0.00,0.00,0.00,0.00,2.96,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...,0.00,0.00,6.30,0.00,0.06,9.90,20.04,35.54,31.61,70.51,36.63,47.39,14.34,113.78,72.58,122.81,53.17
59,COIR,0.00,0.00,0.00,0.00,0.47,0.59,0.04,0.01,0.00,0.25,0.10,0.55,0.15,0.54,1.36,0.00,0.00
60,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,0.00,0.00,0.00,0.00,0.00,0.93,64.06,182.92,172.70,324.56,675.07,386.28,283.89,485.37,870.25,4510.71,1860.73
61,"CONSTRUCTION DEVELOPMENT: Townships, housing, ...",24.33,51.75,36.10,47.04,152.06,228.71,1392.95,3887.33,4657.51,5466.13,1663.03,3140.78,1332.49,1226.05,769.14,112.55,105.14
62,MISCELLANEOUS INDUSTRIES,832.07,221.37,218.76,235.48,121.83,164.76,304.87,528.42,1549.70,1147.56,1475.97,813.38,229.49,468.74,765.88,668.77,296.40

In [4]:
# Define the categorization function
def categorize_sector(sector):
    sector=sector.title()
    # Heavy Industries
    heavy_industries = [
        "Metallurgical Industries",
        "Mining",
        "Power",
        "Coal Production",
        "Petroleum & Natural Gas"
    ]
    
    # Engineering and Machinery
    engineering_and_machinery = [
        "Non-Conventional Energy",
        "Industrial Instruments",
        "Automobile Industry",
        "Commercial, Office & Household Equipments",
        "Boilers And Steam Generating Plants",
        "Prime Mover (Other Than Electrical Generators)",
        "Electrical Equipments",
        "Industrial Machinery",
        "Machine Tools",
        "Agricultural Machinery",
        "Earth-Moving Machinery",
        "Miscellaneous Mechanical & Engineering Industries"
    ]
    
    # Chemical and Allied Industries
    chemical_and_allied_industries = [
        "Fertilizers",
        "Chemicals (Other Than Fertilizers)",
        "Dye-Stuffs",
        "Drugs & Pharmaceuticals",
        "Photographic Raw Film And Paper",
        "Paper And Pulp (Including Paper Products)",
        "Soaps, Cosmetics & Toilet Preparations",
        "Glue And Gelatin"
    ]
    
    # Textiles and Apparel
    textiles_and_apparel = [
        "Textiles (Including Dyed,Printed)",
        "Rubber Goods",
        "Leather,Leather Goods And Pickers"
    ]
    
    # Electronics and Technology
    electronics_and_technology = [
        "Computer Software & Hardware",
        "Electronics",
        "Telecommunications",
        "Scientific Instruments",
        "Mathematical,Surveying And Drawing Instruments"
    ]
    
    # Construction Materials
    construction_materials = [
        "Cement And Gypsum Products",
        "Timber Products",
        "Glass",
        "Ceramics"
    ]
    
    # Defense Industries
    defense_industries = [
        "Defence Industries"
    ]
    
    # Transportation and Logistics
    transportation_and_logistics = [
       
        "Air Transport (Including Air Freight)",
        "Sea Transport",
        "Ports",
        "Railway Related Components",
        "Courier Services"
    ]
    
    # Consultancy and Professional Services
    consultancy_and_professional_services = [
        "Consultancy Services",
        "Services Sector (Fin.,Banking,Insurance,Non Fin/Business,Outsourcing,R&D,Courier,Tech. Testing And Analysis, Other)"
    ]
    
    # Healthcare and Wellness
    healthcare_and_wellness = [
        "Hospital & Diagnostic Centres",
        "Pharmaceutical Services",
        "Medical And Surgical Appliances",
        
    ]
    
    # Education and Training
    education_and_training = [
        "Education"
    ]
    
    # Hospitality and Tourism
    hospitality_and_tourism = [
        "Hotel & Tourism"
    ]
    
    # Retail and Trading
    retail_and_trading = [
        "Trading",
        "Retail Trading"
    ]
    
    # Agriculture and Food Processing
    agriculture_and_food_processing = [
        "Agriculture Services",
        "Food Processing Industries",
        "Tea And Coffee (Processing & Warehousing Coffee & Rubber)",
        "Sugar",
        "Fermentation Industries",
        "Vegetable Oils And Vanaspati"
    ]
    
    # Printing and Publishing
    printing_and_publishing = [
        "Printing Of Books (Including Litho Printing Industry)",
        "Information & Broadcasting (Including Print Media)"
    ]
    
    # Miscellaneous Services
    miscellaneous_services = [
        "Diamond,Gold Ornaments",
        "Coir",
        "Construction (Infrastructure) Activities",
        "Construction Development: Townships, Housing, Built-Up Infrastructure And Construction-Development Projects",
        "Miscellaneous Industries"
    ]
    
    if sector in heavy_industries:
        return "Heavy Industries"
    elif sector in engineering_and_machinery:
        return "Engineering and Machinery"
    elif sector in chemical_and_allied_industries:
        return "Chemical and Allied Industries"
    elif sector in textiles_and_apparel:
        return "Textiles and Apparel"
    elif sector in electronics_and_technology:
        return "Electronics and Technology"
    elif sector in construction_materials:
        return "Construction Materials"
    elif sector in defense_industries:
        return "Defense Industries"
    elif sector in transportation_and_logistics:
        return "Transportation and Logistics"
    elif sector in consultancy_and_professional_services:
        return "Consultancy and Professional Services"
    elif sector in healthcare_and_wellness:
        return "Healthcare and Wellness"
    elif sector in education_and_training:
        return "Education and Training"
    elif sector in hospitality_and_tourism:
        return "Hospitality and Tourism"
    elif sector in retail_and_trading:
        return "Retail and Trading"
    elif sector in agriculture_and_food_processing:
        return "Agriculture and Food Processing"
    elif sector in printing_and_publishing:
        return "Printing and Publishing"
    elif sector in miscellaneous_services:
        return "Miscellaneous Services"
    else:
        return "Miscellaneous"

In [5]:
# Melt the DataFrame to convert it into the desired format
df_melted = pd.melt(data, id_vars=["Sector"], var_name="Date", value_name="Value")

In [6]:
df_melted

                                                 Sector     Date    Value
0                              METALLURGICAL INDUSTRIES  2000-01    22.69
1                                                MINING  2000-01     1.32
2                                                 POWER  2000-01    89.42
3                               NON-CONVENTIONAL ENERGY  2000-01     0.00
4                                       COAL PRODUCTION  2000-01     0.00
...                                                 ...      ...      ...
1066  PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...  2016-17    53.17
1067                                               COIR  2016-17     0.00
1068           CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES  2016-17  1860.73
1069  CONSTRUCTION DEVELOPMENT: Townships, housing, ...  2016-17   105.14
1070                           MISCELLANEOUS INDUSTRIES  2016-17   296.40

[1071 rows x 3 columns]

In [7]:
# Apply categorization function to the 'Sector' column
df_melted['Category'] = df_melted['Sector'].apply(categorize_sector)
df_melted['Year']=df_melted['Date'].str[:4]

In [8]:
df_melted

,Sector,Date,Value,Category,Year
0,METALLURGICAL INDUSTRIES,2000-01,22.69,Heavy Industries,2000
1,MINING,2000-01,1.32,Heavy Industries,2000
2,POWER,2000-01,89.42,Heavy Industries,2000
3,NON-CONVENTIONAL ENERGY,2000-01,0.00,Engineering and Machinery,2000
4,COAL PRODUCTION,2000-01,0.00,Heavy Industries,2000
...,...,...,...,...,...
1066,PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...,2016-17,53.17,Printing and Publishing,2016
1067,COIR,2016-17,0.00,Miscellaneous Services,2016
1068,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,2016-17,1860.73,Miscellaneous Services,2016
1069,"CONSTRUCTION DEVELOPMENT: Townships, housing, ...",2016-17,105.14,Miscellaneous Services,2016
1070,MISCELLANEOUS INDUSTRIES,2016-17,296.40,Miscellaneous Services,2016

In [9]:
df_melted.to_excel('FDI Data Final.xlsx',index=False)

In [10]:
data['Category'] = data['Sector'].apply(categorize_sector)

In [11]:
data.to_excel('FDI Final.xlsx',index=False)